 .alert-box {
  display: none;
  width: 100%;
  height: auto;
  border: 3px;
  margin-top: 40px;
  margin-bottom: 15px;
  border: 5px double rgb(165, 64, 64);
  background-color: #f4f1ec;
  color: rgb(165, 64, 64);
  font-weight: 600;
  font-size: x-large;
  justify-content: center;
  align-items: center;
}

.warn-text {
  display: flex;
  margin: auto;
  justify-content: center;
}

section > img {
  display: flex;
  margin: 17px;
  justify-content: center;
}

@media only screen and (min-width : 1024px) {
  .alert-box {
    display: none;
    width: 92%;
  }
}
