#tweetcontainer {
  display: flex;
  flex-direction: column;
}

.tweetarticle {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 150px;
  width: 100%;
  padding: 10px;
  
}

.tweethead {
  width: 100%;
  border-bottom: 2px;
  display: flex;
  
}
.tweethead span:last-child {
  margin-left: auto;
}



.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 3px solid black;

}

.icons {
  width: 60px;
  font-size: medium;
  color: #576cb3;
  display: flex;
  align-self: center;
}

 .fa-flag:hover {
  color: darkgoldenrod;
}

.fa-retweet:hover {
  color: darkgoldenrod;
}

.fa-heart:hover {
  color: darkgoldenrod;
}

.tweetarticle:hover {
  box-shadow: 5px 5px #8093d1;
}

/* media query responsive design */
@media only screen and (min-width : 1024px) {
  #tweetcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 8%;
  }

  .tweethead {
    padding: 5px;
  }

  .tweetarticle {
    height: 200px;
    padding: 10px;
  }  
  

}