#tweetcontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  word-wrap: break-word;
}

.tweetarticle {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  word-wrap: break-word;
}

.tweethead {
  width: 100%;
  border-bottom: 2px;
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
.tweethead span:last-child {
  margin-left: auto;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 3px solid black;
  margin-top: 20px;
}

.icons {
  width: 60px;
  font-size: medium;
  color: #576cb3;
  display: flex;
  align-self: center;
}

 .fa-flag:hover {
  color: darkgoldenrod;
}

.fa-retweet:hover {
  color: darkgoldenrod;
}

.fa-heart:hover {
  color: darkgoldenrod;
}

.tweetarticle:hover {
  box-shadow: 5px 5px #8093d1;
}

/* media query responsive design */
@media only screen and (min-width : 1024px) {
   #tweetcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 8%;
    width: auto;
  } 

  .tweethead {
    padding: 5px;
  }

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 3px solid black;
  align-items: center;
}

.tweetarticle {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  justify-content: space-between;
  margin: 20px;
  width: 100%;
  padding: 10px;
  word-wrap: break-word;
  height: auto;
}

}